@inherits LayoutComponentBase

<div class="flex h-screen bg-gray-900 font-sans antialiased text-gray-200">
    <div class="w-64 bg-gray-800 shadow-lg border-r border-gray-700">
        <NavMenu/>
    </div>

    <main class="flex-1 overflow-x-hidden overflow-y-auto">
        <article class="container mx-auto px-2 py-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="fixed bottom-0 w-full bg-red-900 border-t-4 border-red-500 p-4 flex justify-between items-center hidden">
    <p class="text-red-200">An unhandled error has occurred.</p>
    <div class="flex space-x-2">
        <a href="" class="text-red-200 hover:text-red-100 underline">Reload</a>
        <a class="text-red-200 hover:text-red-100 cursor-pointer">🗙</a>
    </div>
</div>